[package]
name = "egui_commonmark"
authors = ["Erlend Walstad"]
version = "0.15.0"
edition = "2021"
description = "Commonmark viewer for egui"
keywords = ["commonmark", "egui"]
categories = ["gui"]
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/lampsitter/egui_commonmark"
documentation = "https://docs.rs/egui_commonmark"
include = ["**/*.rs", "LICENSE-MIT", "LICENSE-APACHE", "Cargo.toml"]
rust-version = "1.76" # Required by egui

[dependencies]
egui_extras = "0.27"
egui.version = "0.27"

syntect = { version = "5.0.0", optional = true, default-features = false, features = [
    "default-fancy",
] }

document-features = { version = "0.2", optional = true }

comrak = { version = "0.22.0", default-features = false, optional = true }
pulldown-cmark = { version = "0.10", default-features = false, optional = true }
egui-twemoji = { version = "0.3.0", optional = true }

[features]
default = ["load-images", "pulldown_cmark"]

pulldown_cmark = ["dep:pulldown-cmark"]
comrak = ["dep:comrak"]
## Syntax highlighting for code blocks using syntect
better_syntax_highlighting = ["syntect"]

## Enable loading of images. Make sure to also opt in to what image format you need
## through the image crate.
load-images = ["egui_extras/image", "egui_extras/file"]

## Support loading svg images
svg = ["egui_extras/svg"]

## Images with urls will be downloaded and displayed
fetch = ["egui_extras/http"]

## Enable twemoji support
twemoji = ["egui-twemoji"]

[dev-dependencies]
eframe = { version = "0.27", default-features = false, features = ["default_fonts", "glow"] }
image = { version = "0.24", default-features = false, features = ["png"] }

[package.metadata.docs.rs]
features = ["better_syntax_highlighting", "document-features"]
