[package]
name = "egui_commonmark"
authors = ["Erlend Walstad"]
version = "0.7.4"
edition = "2021"
description = "Commonmark viewer for egui"
keywords = ["commonmark", "egui"]
categories = ["gui"]
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/lampsitter/egui_commonmark"
documentation = "https://docs.rs/egui_commonmark"
include = ["src/*.rs", "LICENSE-MIT", "LICENSE-APACHE", "Cargo.toml"]

[dependencies]
egui.version = "0.22"
pulldown-cmark = { version = "0.9.3", default-features = false }
egui_extras.version = "0.22"

syntect = { version = "5.0.0", optional = true, default-features = false, features = [
    "default-fancy",
] }

document-features = { version = "0.2", optional = true }

[features]
default = ["load-images"]
## Syntax highlighting for code blocks using syntect
better_syntax_highlighting = ["syntect"]

## Enable loading of images. Make sure to also opt in to what image format you need
## through the image crate.
load-images = ["egui_extras/image", "egui_extras/file"]

## Support loading svg images
svg = ["egui_extras/svg"]

## Images with urls will be downloaded and displayed
fetch = ["egui_extras/http"]

[dev-dependencies]
eframe.version = "0.22"
image = { version = "0.24", default-features = false, features = ["png"] }

[package.metadata.docs.rs]
# docs.rs build can fail with the fetch feature enabled
features = ["better_syntax_highlighting", "document-features"]


[patch.crates-io]
# Pathed until the next egui release:
eframe = { git = "https://github.com/emilk/egui", rev = "d949eaf" }
egui = { git = "https://github.com/emilk/egui", rev = "d949eaf" }
egui_extras = { git = "https://github.com/emilk/egui", rev = "d949eaf" }
