name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Clippy
      run: cargo clippy -- -Dwarnings

    - name: Check all features pulldown
      run: cargo check --no-default-features --features pulldown_cmark,better_syntax_highlighting,macro

    - name: Check all features comrak
      run: cargo check --no-default-features --features comrak,better_syntax_highlighting,macro

    - name: Cargo fmt
      run: cargo fmt --check -q
